<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/images/Logo.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="/static/css/tiny-slider.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
		<title>האתר לתמיכה בחיילים בודדים </title>
		</head>

	<body>

		<!-- Start Header -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark">

			<div class="container">	
				<a class="navbar-brand" href="SoldierHomePage">
				<img src="/static/images/Logo.png" alt="Logo Image" class="img-fluid custom-logo">
				
			</a>
			

				<div class="collapse navbar-collapse">
						<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
							<li class="nav-item"><a class="nav-link" href="SoldierHomePage">דף בית</a></li>
							<li><a class="nav-link" href="GetInventory">חיפוש ציוד לתרומה</a></li>
							<li><a class="nav-link" href="CreateDonationGroup">פתיחת קבוצת תרומה</a></li>
							<li><a class="nav-link" href="ViewSoldierItems">ציוד ששוריין</a></li>
						</ul>

				</div>
			</div>
				
		</nav>
		<!-- End Header -->

		<!-- Start main title Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>חיפוש ציוד לתרומה</h1>
								<p class="fs-5 ">כל חייל יוכל לבצע חיפוש לציוד שנדרש לו ולשריין אותו באתר</p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="troma-img" >
								<img src="/static/images/equipment2.JPG" class="img-fluid  ">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End main title Section -->

		<div class="sadna-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">
					<form action="/GetInventory" method="post">
						<div class="form-group">
							<label class="text-black" for="category">קטגוריה</label>
							<select class="form-control text-right" id="category" name="category">
								<option value="" disabled="" selected="" class="text-end">בחר קטגוריה</option>
								<option value="אביזרי מטבח">אביזרי מטבח</option>
							<option value="חדר שינה">חדר שינה</option>
							<option value="ארונות">ארונות</option>
							<option value="ספה">ספה</option>
							<option value="ביגוד והנעלה">ביגוד והנעלה</option>
							<option value="ספרים">ספרים</option>
							<option value="שולחנות">שולחנות</option>
							<option value="כיסאות">כיסאות</option>
							<option value="ציוד משרדי">ציוד משרדי</option>
							<option value="ציוד צבאי">ציוד צבאי</option>
							<option value="אביזרי כושר">אביזרי כושר</option>
							<option value="אביזרי חשמל">אביזרי חשמל</option>
							<option value="אחר">אחר</option>
							</select>
						</div>
			
				
						<div class="form-group">
							<label class="text-black" for="origin">כתובת (לדוגמה - שדרות ירושלים 196 חולון)  </label>
							<input type="text" class="form-control" id="origin" name="origin">
						  </div>
							
								
			<br>
						<button type="submit" class="btn btn-primary-hover-outline">חיפוש</button>
						<br>
						<br>
					</form>
				
					{% for record in inventory_records %}
						<div class="col-12 col-md-4 col-lg-3 mb-5">
							<a class="product-item">
								<img src="/static/images/{{ record[6] }}" class="img-fluid product-thumbnail" width="200" height="150" alt="Fixed Size Image">
								<h3 class="product-title">{{ record[1] }}</h3>
								<h3 class="product-categoty">קטגוריה: {{ record[2] }}</h3>
								<h3 class="address">כתובת לאיסוף: {{ record[5] }}</h3>
								<h3 class="address">איש קשר: {{ record[9] }}</h3>
								<h3 class="distance_value">המרחק לנק' האיסוף: {{ record[10] }}</h3>
								<h3 class="duration_value">זמן הנסיעה לנק' האיסוף: {{ record[11] }}</h3>
								<span class="icon-cross">
									<img src="/static/images/cross.svg" class="img-fluid clickable-img" id="{{ record[0] }}">
								</span>
							</a>

						</div>
					{% endfor %}

		      	</div>
		    </div>
		</div>


		  <!-- Start Footer Section -->
	<footer class="footer-section">
		<div class="container relative">

			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">יחד<span>.</span></a></div>
					<p class="mb-4">
						"יחד" – העמותה לחייל הבודד, החל משנת 2007.
						מטרת העמותה היא בראש ובראשונה לתמוך בחיילי צה"ל ולסייע להם. אנו מבקשים להעביר לחיילנו מסר חשוב – עם ישראל מוקיר מקרב לב את התרומה והשרות רווי הסכנות שהחיילים מעניקים לארץ ולאזרחיה.
						כל מתנדבי העבודה עושים זאת ללא שום גמול כספי וללא החזר הוצאות.
					</p>

					<ul class="list-unstyled custom-social">
						<li><a href="https://www.facebook.com/loboded/?locale=he_IL"><span class="fa fa-brands fa-facebook-f"></span></a></li>
					</ul>
				</div>

				<div class="col-lg-8">
					<div class="row links-wrap">
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="SoldierHomePage">דף הבית</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="GetInventory">חיפוש ציוד</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="CreateDonationGroup">יצירת קבוצת תרומה</a></li>
							</ul>
						</div>
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="ViewSoldierItems">ציוד ששוריין</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="me-4"><a href="https://www.mta.ac.il/he-il/">סדנה 2024 האקדמית תל אביב יפו, מערכות מידע,שנה ד</a></p>
					</div>

					<div class="col-lg-6 text-center text-lg-end">
						<ul class="list-unstyled d-inline-flex ms-auto">
							<li><a>נעמי קולמן, גיל אלוני, רוני בסל לוי</a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</footer>
	<!-- End Footer Section -->
  


		<script src="/static/js/bootstrap.bundle.min.js"></script>
		<script src="/static/js/tiny-slider.js"></script>
		<script src="/static/js/custom.js"></script>
		<script src="/static/js/clickable-image.js"></script>
	</body>

</html>
