<html lang="en"><head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/static/images/Logo.png">
	<meta name="keywords" content="bootstrap, bootstrap4">
  
		  <!-- Bootstrap CSS -->
		  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
		  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		  <link href="/static/css/tiny-slider.css" rel="stylesheet">
		  <link href="/static/css/style.css" rel="stylesheet">
		  <title>האתר לתמיכה בחיילים בודדים </title>
	  </head>
  
	  <body>
  
		  <!-- Start Header-->
		  <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark">
  
			  <div class="container">
				<a class="navbar-brand" href="SoldierHomePage">
					<img src="/static/images/Logo.png" alt="Logo Image" class="img-fluid custom-logo">
					
				</a>
  
				  <div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item">
							<a class="nav-link" href="SoldierHomePage">דף בית</a>
						</li>
						<li><a class="nav-link" href="GetInventory">חיפוש ציוד לתרומה</a></li>
						<li><a class="nav-link" href="CreateDonationGroup">פתיחת קבוצת תרומה</a></li>
						<li><a class="nav-link" href="ViewSoldierItems">ציוד ששוריין</a></li>						
						
					</ul>
				  </div>
			  </div>
				  
		  </nav>
		  <!-- End Header -->

		  <div class="sadna-section">
	  <div class="container">
		<div class="row">
		  <div class="col-md-12 text-center pt-5">
			<span class="display-3 thankyou-icon text-primary">
			  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-check mb-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
				<path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
			  </svg>
			</span>
			<h2 class="display-3 text-black">הפעולה בוצעה בהצלחה!</h2>
			<p class="lead mb-5">נפתחה קבוצת תרומה עבורך המשך לעקוב אחריה וכך תוכל לראות את קצב קבלת התרומות עד ליעד שהצבת </p>
			<p><a href="SoldierHomePage" class="btn btn-sm btn-outline-black">חזרה לדף הבית</a></p>
		  </div>
		</div>
	  </div>
	</div>
  
<!-- Start Footer Section -->
<footer class="footer-section">
	<div class="container relative">



		<div class="row g-5 mb-5">
			<div class="col-lg-4">
				<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">יחד<span>.</span></a></div>
				<p class="mb-4">
					"יחד" – העמותה לחייל הבודד, החל משנת 2007.
					מטרת העמותה היא בראש ובראשונה לתמוך בחיילי צה"ל ולסייע להם. אנו מבקשים להעביר לחיילנו מסר חשוב – עם ישראל מוקיר מקרב לב את התרומה והשרות רווי הסכנות שהחיילים מעניקים לארץ ולאזרחיה.
					כל מתנדבי העבודה עושים זאת ללא שום גמול כספי וללא החזר הוצאות.
				</p>

				<ul class="list-unstyled custom-social">
					<li><a href="https://www.facebook.com/loboded/?locale=he_IL"><span class="fa fa-brands fa-facebook-f"></span></a></li>
				</ul>
			</div>

			<div class="col-lg-8">
				<div class="row links-wrap">
					<div class="col-6 col-sm-6 col-md-3">
						<ul class="list-unstyled">
							<li><a href="SoldierHomePage">דף הבית</a></li>
						</ul>
					</div>

					<div class="col-6 col-sm-6 col-md-3">
						<ul class="list-unstyled">
							<li><a href="GetInventory">חיפוש ציוד</a></li>
						</ul>
					</div>

					<div class="col-6 col-sm-6 col-md-3">
						<ul class="list-unstyled">
							<li><a href="CreateDonationGroup">יצירת קבוצת תרומה</a></li>
						</ul>
					</div>
					<div class="col-6 col-sm-6 col-md-3">
						<ul class="list-unstyled">
							<li><a href="ViewSoldierItems">ציוד ששוריין</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>

		<div class="border-top copyright">
			<div class="row pt-4">
				<div class="col-lg-6">
					<p class="me-4"><a href="https://www.mta.ac.il/he-il/">סדנה 2024 האקדמית תל אביב יפו, מערכות מידע,שנה ד</a></p>
				</div>

				<div class="col-lg-6 text-center text-lg-end">
					<ul class="list-unstyled d-inline-flex ms-auto">
						<li><a>נעמי קולמן, גיל אלוני, רוני בסל לוי</a></li>
					</ul>
				</div>

			</div>
		</div>

	</div>
</footer>
<!-- End Footer Section -->
  
  
	<script src="/static/js/bootstrap.bundle.min.js"></script>
	<script src="/static/js/tiny-slider.js"></script>
	<script src="/static/js/custom.js"></script>
	  
  
  
  </body>
</html>